* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef2f4;
}

header {
  padding: 20%;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #3baee2;
  padding: 4px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}


header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


header .navbar ul {
  list-style: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header .navbar ul li {
  text-align: left;
  position: relative;
  float: left;
}

header .navbar ul li a {

  font-size: 20px;
  padding: 15px;
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
}


header .navbar ul li a:hover {
  /* border-radius: 35px; */
  /* background: rgb(149, 35, 35); */
  /* color: rgb(255, 0, 0); */
  background-color: #3baee2;
}

header .navbar ul li ul {

  position: absolute;
  left: 0;
  width: 200px;
  background: #393d3f;
  display: none;

}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
  display: initial;
}

.page-title {
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
  width: 800px;
  height: 130px;
  margin-top: 2%;
}

.page-title h1 {
  font-size: 40px;
  width: 450px;
  margin: 40px 10px 20px 50px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;

}

.article1 {
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
  width: 800px;
  height: 350px;
}

.h { 
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 40px;
  width: 600px;
  font-weight: 700;
  font-size: 30px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.h a{
  color: #3baee2;
  text-decoration: none;
}
.h a:hover{
  color: black;
}

.img {
  width: 300px;
  height: 200px;
  margin-top: 2%;
  margin-left: 40px;
}

.p {
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  width: 350px;
  float: right;
  margin: 30px 50px 0 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  text-transform: none;
}
.readmore{
  color: #ffffff;
  background-color: #3baee2;
  font-size: 15px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 7%;
  text-decoration: none;
}

.readmore:hover{
  background-color: black;
}

.p2 {
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  width: 370px;
  float: right;
  margin: 40px 40px 0 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  text-transform: none;
}
.p3{
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  width: 370px;
  float: right;
  margin: 40px 40px 0 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  text-transform: none;
}

.end{
  margin-top: 10px;
  width: 100%;
  height: 400px;
  background-color: rgb(0, 0, 0);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
  font-size: 17px;
}
.footer1{
  color: white;
  float: left;
  margin-left: 40px;
  margin-top: 30px;
  width: 400px;
  height: 300px;
}
.footer1 i{
  margin-left: 9px;
}
.footer1 h1{
  text-align: center;
  border: 2px solid #3baee2;
  color: white;
  width: 300px;
}
.footer2{
  color: white;
  float: left;
  margin-left: 120px;
  margin-top: 30px;
}
.footer2 h2 a{
  color: white;
  text-decoration: none;
}

.footer2 p a{
  color: white;
  text-decoration: none;
}
.footer2 h2 a:hover{
  color: #3baee2;
}

.footer2 p a:hover{
  color: #3baee2;
}

.footer3{
  color: white;
  float: left;
  margin-left: 120px;
  margin-top: 30px;
}
.footer3 h2 a{
  color: white;
  text-decoration: none;
}

.footer3 p a{
  color: white;
  text-decoration: none;
}
.footer3 h2 a:hover{
  color: #3baee2;
}

.footer3 p a:hover{
  color: #3baee2;
}

.footer4{
  color: white;
  float: left;
  margin-left: 120px;
  margin-top: 30px;
}
.footer4 h2 a{
  color: white;
  text-decoration: none;
}

.footer4 h2 a:hover{
  color: #3baee2;
}

.end1{
  width: 100%;
  height: 50px;
  background-color: #3baee2;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
  font-size: 17px;

}
.end11{
  float: left;
  /* background-color: orange; */
  width: 480px;
  margin-top: 14px;
  margin-left: 40px;
}
.end12{
  text-decoration: none;
  margin-left: 140px;
  /* background-color: aqua; */
  width: 540px;
  float: left;
  margin-top: 14px;
}
.end12 a{
  color: black;
  margin-left: 16px;
  text-decoration: none;
}



.side{
  text-align: center;
  margin-top: 26px;
  background-color: rgb(255, 255, 255);
  height: 900px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  width: 380px;
  margin-left: 40px;
}

.navigation-bar{
  padding: 33px;
}
.for-side{
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  width: 400px;
}
.side img{
  padding: 40px 40px 10px 40px;
  width: 300px;
  height: auto;
}
.side-a{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  color: #3baee2;
  text-align: center;
  text-decoration: none;
}
.side a:hover{
  color: black;
}
.side h3{
  padding: 25px;
}
#side1{
  height: 240px;
}

.social{
  display: flex;
  padding: 24px;
}
#side2{
  height: 980px;
  text-align: center;
}

#side3 a{
  text-decoration: none;
  font-size: 18px;
  
}
#side3 p{
  padding: 4px;
}
.pp{
  padding: 30px;
}
#side3{
  height: 300px;
}

.sidec{
  
  display: block;
  position: absolute;
  margin-left: 65%;
  z-index: -1;
}


